@import "../../scss/variables";

.LineChart {
  canvas {
    height: auto;
    max-height: 500px;
    max-width: 1000px;

    padding: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}
