.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}